<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<title>MathAI</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='images/MathAI Logo.png')}}">
</head>
<body>
	<div class="head">
	<div id="header">
		<a href="/" class="logo">
		    <h1>MathAI</h1>
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="/">홈</a>
			</li>
			<li>
				<a href="type">문제유형</a>
			</li>
			<li>
				<a href="recent">최근문제</a>
			</li>
		</ul>
	</div>
	</div>
	<div class="h2_para">
		<h2>유형1</h2>
		<hr />
		<h3>간단한 산술 연산</h3>
		간단한 사칙연산에 대한 문제입니다.<br>
		예시) 열차에는 일반실과 특실이 있습니다. 열차의 일반실에는 575명이, 특실에는 147명이 탔습니다. 이 열차 모두 몇명이 탔을까요?
		<h2>유형2</h2>
		<hr />
		<h3>조합 하기</h3>
		경우의 수, 조합에 대한 문제입니다.<br>
		예시) 4장의 숫자 카드 중 2장을 사용하여 두 자리 수를 만들려고 합니다. 만들 수 있는 두 자리 수는 몇 개인가요?
		<h2>유형3</h2>
		<hr />
		<h3>순서 정하기</h3>
		주어진 순서에서 정해진 위치를 구하는 문제입니다.<br>
		예시) 9, 105, 36, 72인 4 개의 수 가 있습니다. 높은 숫자 순으로 나열했을 때 2 번째에 오는 수는 얼마입니까?
		<h2>유형4</h2>
		<hr />
		<h3>잘못 계산한 문제</h3>
		잘못 계산한 문제를 바로 계산하는 문제입니다.<br>
		예시) 어떤 수를 12로 나눈 다음 8을 더해야 할 것을 잘못하여 어떤 수에 12를 곱한 다음 8을 더했더니 296이 되었습니다. 바르게 계산하면 얼마일까요?
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2021 by MathAI. All rights reserved.</p>
		</div>
	</div>
</body>
</html>
